PORT=8080

AUTH_SERVICE_URL=http://localhost:3000
USER_SERVICE_URL=http://localhost:3001
SERVICE_SERVICE_URL=http://localhost:3002
CHU_SERVICE_URL=http://localhost:3003
CLINIQUE_SERVICE_URL=https://clinique-back-18za.onrender.com
ENDOSCOPIE_SERVICE_URL=https://endoscopie-api.onrender.com
PRESCRIPTION_SERVICE_URL=https://prescriptionback-production.up.railway.app
EEG_SERVICE_URL=https://eegback-production.up.railway.app
ANAPATH_SERVICE_URL=https://anapath-backend-ar7u.onrender.com

JWT_SECRET=secret123
